# Configuración del Servidor
PORT=5000

# Configuración de la Base de Datos
DB_HOST=db
DB_PORT=3306
DB_USER=petcare_user
DB_PASSWORD=petcare_password
DB_NAME=petcare_db

# Configuración de APIs externas
BREEDS_API_URL=https://dog.ceo/api/breeds/list/all
